#destinations-page-container {
  display: flex;
  height: 100%;
}

#destination-nav {
  flex: 0 0 400px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid lightgray;
}

#destination-nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}

#destination-nav div {
  margin: 2em 2em;
  font-size: 18px;
}

.dest-nav-line {
  border-bottom: 1px solid lightgray;
}
