#destinations-detail-container {
  overflow: scroll;
}

#destination-image {
  max-width: 100%;
  height: 27em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#destination-image img {
  min-width: 100%;
  max-width: 100%;
}

#destination-info {
  padding: 1em 1em 3em 1em;
  margin-bottom: 4em;
}

#dest-name {
  font-size: 45px;
  margin: 0.3em 0em;
  width: 80%;
}

#dest-line {
  border-bottom: 1px solid lightgray;
}

#dest-address {
  margin: 1em 0em;
}

#dest-desc {
  margin: 2em 0em;
}

#dest-dur {
  margin: 2em 0em 2em;
  font-weight: 600;
  font-size: 20px;
}

#dest-header-container {
  display: flex;
  justify-content: space-between;
}

#dest-button {
  border: 2.5px solid black;
  padding: 1em;
  margin: 2em 4em 2em 0em;
  background-color: transparent;
  height: 4em;
}

#dest-edit-button {
  border: 2.5px solid black;
  padding: 1em;
  margin: 0em 4em 0em 0em;
  background-color: transparent;
}

#dest-button:active,
#dest-edit-button:active {
  background-color: black;
  color: transparent;
}

.maps-container {
  height: 200px;
  margin-top: 2em;
  display: block;
  position: relative;
  margin-bottom: 200px;
}
