#itinerary-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 10em;
  margin-bottom: 6em;
}

#itinerary-title {
  text-align: center;
  font-size: 60px;
  font-family: "Arsenal", sans-serif;
}
